.product {
    background-image: none;
}

@media only screen and (min-width: 48em){
    main{
        background-color: white;
    }
    .sidebar {
        grid-area: sidebar;
        background-color: white;
        padding: 0 1em;
        width: 20em;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        max-width: 10em;
        margin: 0 auto;
        grid-gap: 3em;        
    }

    .thumb {
        border:1px solid var(--color-grey);
    }
    .products {
        
        border-top-width: 0px;
    }
    .product {
        border-bottom: -2em;
        background-image: none;
        margin-bottom: 2em;
        display: grid;
    }

    .bigimg {
     grid-column: span 3;
    }

}